<h1>Show Bro!</h1>

<div>
<p>Yo Bro, my name is <b><%= @bro['name'] %></b>!</p>

<p>A Little bit about your homeboy,<br><b><%= @bro['info']['bio'] %></b></p>

<p>I work as a <b><%= @bro['info']['job'] %></b><br>
And my favorite food is <b><%= @bro['info']['fav_food'] %></b>!
</p>

<p>Damn! I'm awesome... Yo Bro What Bout you?</p>

<%= link_to "Edit me Bro.", "/bros/#{params[:id]}/edit" %>
<%= link_to 'Return to Bro List', bros_path %>

</div>